@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url(images/pic1.png);
    background-attachment: fixed;
    background-size: cover;
}

.main-account-front {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
}

.account-stats {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px) grayscale(80%);
    backdrop-filter: blur(4px) grayscale(80%);
    border-radius: 0.2em;
}

.account-stats p {
    color: white;
    font-size: 1.25em;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 5px;
}

.account-stats h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 15px;
    color: white;
    font-family: "Montserrat", "Teko", serif, sans-serif;
}

@media only screen and (max-width: 800px) {
    .account-stats {
        width: 100%;
    }

    .account-stats h1 {
        font-size: 2em;
    }
}