@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#intro-button {
    display: none;
}

#menuexpand {
    display: none;
    cursor: pointer;
}

b {
    font-size: inherit;
}

i {
    font-size: inherit;
}

#expandedmenu {
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    padding: 30px;
    width: auto;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5em;
    backdrop-filter: blur(4px) grayscale(80%);
    z-index: 999;
    transform: scale(0%);
    transition: transform 0.1s ease;
    top: 10%;
}

.blanktop {
    height: 85px;
}

.character-counter {
    color: white;
    font-family: "Teko", "Libre Baskerville", serif;
    font-size: 2em;
}

#totalAccounts {
    font-size: inherit;
}

body {
    user-select: none;
    background-color: rgb(26, 26, 26);
}

.redfont {
    color: rgb(214, 72, 62);
}

.epicfont {
    color: rgb(201, 144, 248);
}

.rarefont {
    color: rgb(144, 201, 248);
}

.uncommonfont {
    color: rgb(186, 248, 144);
}

hr {
    height: 2px;
    border: none;
    background: -webkit-linear-gradient(#ffeabd, #ffe391);
    filter: drop-shadow(rgb(255, 255, 255) 0rem 0rem 5px);
}

ul li {
    font-size: 1.8em;
    font-weight: 300;
    font-family: "Teko", "Libre Baskerville", serif;
    text-align: center;
    align-self: center;
    list-style-position: inside;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 3px #ffe380;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.topbar {
    z-index: 999;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
}

.updatebox {
    display: block;
    padding: 15px;
    box-sizing: border-box;
    color: white;
    font-size: 1.2em;
    font-family: "Courier Prime", "Libre Baskerville", serif;
    width: 100%;
    margin: 3px;
    word-wrap: normal;
    background: rgb(109, 109, 109);
    overflow: hidden;
}

.updatebox .updatetitle {
    font-size: 1.3em;
    display: block;
    padding: 10px;
    margin: 5px 5px 5px 0;
    width: 80%;
    background: linear-gradient(to right, rgb(71, 71, 71, 1), rgb(109, 109, 109, 0));
}

.updatebox .updateheader {
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: bold;
}

.updatebox p::before {
    content: "- ";
}

.updatebox p {
    margin: 5px;
}

.updatebox:nth-child(even) {
    background: rgb(141, 141, 141);
}

.topbarupdates {
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background: rgb(86, 40, 95);
}

.topbarupdates p {
    color: white;
    font-size: 2.5em;
    font-family: "Teko", "Libre Baskerville", serif;
}

.mainbar {
    display: flex;
    width: 60%;
    border-radius: 0.5em;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 10px;
    backdrop-filter: blur(4px) grayscale(80%);
    padding: 15px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: visible;
}

.button-main {
    user-select: none;
    font-size: 1.5em;
    padding: 10px 20px;
    background: -webkit-linear-gradient(#ffd19d, #ffba24);
    color: rgb(28, 28, 28);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    transition-duration: 0.1s;
    font-family: "Teko", "Libre Baskerville", serif;
    font-weight: 500;
}

.button-main:hover {
    color: rgb(29, 29, 29);
    transform: scale(105%);
}

.button-main:active {
    background: -webkit-linear-gradient(#ececec, #919191);
    color: rgb(29, 29, 29);
    transform: scale(100%);
}

.logo {
    cursor: pointer;
    background-image: url(images/transparentlogo2.png);
    background-position: center;
    overflow: visible;
    height: 150px;
    width: 200px;
    background-size: 200px;
}

.mainbar a {
    background: linear-gradient(0deg, rgb(255, 176, 4) 35%, rgb(255, 240, 185) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    padding: 5px;
    margin: 15px;
    font-family: "DM Sans", serif;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.mainbar a:hover {
    background: linear-gradient(0deg, rgb(207, 207, 207) 35%, rgb(255, 253, 245) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#expandedmenu a {
    background: linear-gradient(0deg, rgb(255, 176, 4) 35%, rgb(255, 240, 185) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    padding: 5px;
    margin: 5px;
    font-family: "DM Sans", serif;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

#expandedmenu a:hover {
    background: linear-gradient(0deg, rgb(207, 207, 207) 35%, rgb(255, 253, 245) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#intro {
    height: 750px;
    background-image: url(images/pic1.png);
    object-fit: cover;
    background-size: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
}

#intro {
    font-family: "Libre Baskerville", serif;
    cursor: default;
}

#intro h1 {
    background: linear-gradient(0deg, rgb(255, 176, 4) 15%, rgb(255, 240, 185) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    font-family: "Teko", "Libre Baskerville", serif;
    font-size: 6em;
    filter: drop-shadow(rgb(255, 237, 180) 0rem 0rem 10px);
}

#intro p {
    color: rgb(241, 241, 241);
    font-size: 2em;
    width: 80%;
    text-align: center;
    text-shadow: 0px 0px 5px #171717;
}

#intro .story {
    margin-top: 50px;
    width: 80%;
    text-align: center;
    color: rgb(255, 213, 141);
    font-size: 1.5em;
    text-shadow: 0px 0px 5px #171717;
}

.slide {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Libre Baskerville", serif;
    cursor: default;
    color: white;
    overflow-y: hidden;
}

.slide h1 {
    margin-top: 25px;
    background: linear-gradient(0deg, rgb(255, 176, 4) 15%, rgb(255, 240, 185) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    font-weight: 700;
    filter: drop-shadow(rgb(255, 237, 180) 0rem 0rem 7px);
}

.slide h2 {
    margin-top: 25px;
    background: linear-gradient(0deg, rgb(26, 173, 117) 35%, rgb(178, 250, 190) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: 700;
    filter: drop-shadow(rgb(143, 209, 149) 0rem 0rem 3px);
}

.slide p {
    color: rgb(255, 246, 218);
    margin: 15px;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px #171717;
    width: 66%;
}

#slide1 {
    min-height: 890px;
    max-height: 1100px;
    background-image: url(images/pic2.png);
    object-fit: cover;
    background-size: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -200px;
}

#slide2 {
    min-height: 600px;
    max-height: 1100px;
    background-image: url(images/pic3.png);
    object-fit: cover;
    background-size: 1920px;
    background-position: top;
    background-repeat: no-repeat;
}

#slide3 {
    min-height: 600px;
    max-height: 1200px;
    background-image: url(images/pic4.png);
    object-fit: cover;
    background-size: 1920px;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1600px) {
    .mainbar {
        height: 60px;
        width: 100%;
    }

    .logo {
        height: 100px;
        width: 150px;
        background-size: 150px;
    }

    .mainbar a {
        font-size: 1.5em;
    }

    #intro p {
        font-size: 2em;
    }

    #intro .story {
        font-size: 1.6em;
    }

    .slide h1 {
        font-size: 2.5em;
    }

    .slide p {
        font-size: 1.3em;
    }

    #expandedmenu {
        visibility: hidden;
    }
}

@media only screen and (max-width: 1024px) {
    .mainbar {
        height: 50px;
    }

    .mainbar a {
        font-size: 1.5em;
    }

    .button-div {
        transform: scale(0.66);
    }

    .button-main:hover {
        transform: scale(1.1);
    }

    .logo {
        height: 75px;
        width: 125px;
        background-size: 125px;
    }

    #intro h1 {
        margin-top: 100px;
        font-size: 5em;
    }

    #intro p {
        font-size: 1.2em;
    }

    #intro .story {
        font-size: 1.2em;
    }

    .slide h1 {
        font-size: 2.5em;
    }

    .slide p {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 692px) {
    .mainbar {
        justify-content: space-evenly;
        height: 40px;
    }

    .mainbar nav {
        width: auto;
    }

    .mainbar a {
        margin: 0;
        font-size: 1em;
    }

    .button-div {
        display: none;
    }

    #intro-button {
        transform: scale(1);
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
    }

    .logo {
        height: 70px;
        width: 100px;
        background-size: 100px;
    }

    #intro h1 {
        font-size: 3em;
    }

    #intro p {
        font-size: 1em;
    }

    #intro .story {
        font-size: 1em;
    }

    .slide h1 {
        font-size: 2em;
    }

    .slide p {
        font-size: 1em;
        width: 85%;
    }

    ul li {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 450px) {
    .mainbar #navlinks {
        display: none;
    }

    .mainbar {
        justify-content: space-between;
    }

    #menuexpand {
        display: block;
    }

    #expandedmenu {
        visibility: visible;
    }
}