@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
    --primarydark: rgb(31, 31, 31);
    --secondarydark: rgb(32, 32, 32);
    --white: rgb(235, 235, 235);
    --orange: rgb(255, 208, 0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: var(--primarydark);
    font-family: "Yantramanav", sans-serif;
}

button {
    color: var(--primarydark);
    cursor: pointer;
    padding: 8px 12px;
    margin: 20px;
    background: var(--orange);
    border: none;
    border-radius: 0.25em;
    font-size: 1em;
    box-shadow: 0 2px 0 black;
}

button:disabled {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    pointer-events: none;
    opacity: 0.5;
}

button:active {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.nav-bar {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 75px;
    background-color: var(--secondarydark);
    box-shadow: 0 -15px 50px rgb(0, 0, 0) inset;
}

.nav-start {
    display: flex;
    align-items: center;
}

.nav-end {
    display: flex;
    align-items: center;
}

.logo {
    content: url(../images/LogoTransparent1000Plain.png);
    width: 200px;
}

.greeting {
    margin-left: 1em;
    font-size: 1.5em;
    color: var(--white);
    text-shadow: 0 0 7px black;
}

.stat-span {
    margin-left: 10px;
    color: var(--white);
}

.stat-level {
    color: var(--orange);
}

.character-dialogue {
    background: url(../images/Lumbridge1080.png);
    padding: 5px;
    box-sizing: border-box;
    height: 450px;
}

.selections {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.25em;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    text-shadow: 0 2px 0 black;
}

.menu-selection {
    display: flex;
    cursor: pointer;
    color: cyan;
}

.menu-selection:hover {
    color: red;
}

.challenges-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.challenges-container h2 {
    font-size: 24px;
}

.challenge-box {
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    border-radius: 0.25em;
    border: 1px solid transparent;
    max-width: 300px;
    min-height: 350px;
    padding: 10px;
    box-sizing: border-box;
    margin: 15px;
}

.challenge-info {
    color: rgb(255, 187, 0);
    text-align: center;
    min-height: 130px;
}

.challenge-stats {
    font-weight: bold;
}

.challenge-reward {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 5px;
    background: rgba(248, 159, 248, 0.25);
    border-radius: 0.25em;
}

.uncommon {
    color: rgb(16, 211, 136);
}

.rare {
    color: rgb(16, 149, 211);
}

.epic {
    color: rgb(211, 16, 211);
}

.artifact {
    color: rgb(211, 16, 42);
}

.uncommon-border {
    border-color: rgb(16, 211, 136);
}

.rare-border {
    border-color: rgb(16, 149, 211);
}

.epic-border {
    border-color: rgb(211, 16, 211);
}

.artifact-border {
    border-color: rgb(211, 16, 42);
}

@media (max-width: 650px) {
    .nav-bar {
        justify-content: center;
    }

    .greeting {
        display: none;
    }
}

@media (max-width: 1200px) {
    .nav-stats {
        display: none;
    }
}